html, body {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	scroll-behavior: smooth;
	@media screen and (max-width: 1160px) {
		html, body {
			font-size: 62.5%;
		}
	}
}
